clip
diffusers==0.24.0
glfw
imageio
imageio[ffmpeg]
imageio[pyav]
open3d
opencv_python
tqdm
transformers
xatlas
Ninja
accelerate
git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
git+https://github.com/openai/shap-e.git